{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	<div class="d-flex align-items-center">
		<h1 class="my-4">Article index</h1>
		{% if is_granted('ROLE_USER') %}
			<a class="btn btn-primary btn-sm ml-auto" href="{{ path('article_new') }}">Create new</a>
		{% endif %}
	</div>
	<div class="count">Number of articles :
		{{ articles.getTotalItemCount }}
	</div>
	<table class="table table-sm table-striped">
		<thead>
			<tr>
				<th scope="col">{{ knp_pagination_sortable(articles, 'ID', 'a.id') }}</th>
				<th scope="col">{{ knp_pagination_sortable(articles, 'Title', 'a.title') }}</th>
				<th scope="col">Content</th>
				<th scope="col">Author</th>
				<th scope="col">Created at</th>
				<th scope="col">Updated at</th>
				{% if is_granted('ROLE_USER') %}
					<th scope="col">Actions</th>
				{% endif %}
			</tr>
		</thead>
	</thead>
	<tbody>
		{% for article in articles %}
			<tr>
				<th scope="row" class="align-middle">{{ article.id }}</th>
				<td class="align-middle">
					<a class="text-primary font-weight-bold" href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a>
				</td>
				<td style='width: 200px' class='align-middle text-left'>{{ article.content|striptags|u.truncate(140, true, '...')|raw}}</td>
				<td class="align-middle">{{ article.author.email}}</td>
				<td class="align-middle">{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				<td class="align-middle">{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : 'Never' }}</td>
				{% if is_granted('ROLE_USER') %}
					<td class="align-middle">
						{% if app.user.username == article.author.email or 'ROLE_ADMIN' in app.user.roles %}
							<div class="d-flex align-items-center">
								{{ include('article/_delete_form.html.twig') }}
								<a class="btn btn-warning btn-sm" href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>
							</div>
						{% endif %}
					</td>
				{% endif %}
			</tr>
		{% else %}
			<tr>
				<td colspan="6">No records found</td>
			</tr>
		{% endfor %}
	</tbody>
</tbody></table><div class="text-center">
<div class="row">
	<div class="col-12 my-3 text-center">
		<div class="d-flex justify-content-center">
			{{ knp_pagination_render(articles) }}
		</div>
	</div>
</div>{% endblock %}
