{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('style.css') }}">
{% endblock %}
{% block title %}Articles
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="row mt-4">Liste des articles</h1>
		<div class="row">
			{% for article in articles %}
				<div class="col-4 my-2">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title m-0">{{ article.title | capitalize }}</h3>
						</div>
						<div class="card-body d-flex flex-column justify-content-between">
							<div class="card-text">
								<p>{{ article.content | slice(0, 120) ~ '...' }}</p>
							</div>
							{% if article.updatedAt %}
								<small class="text-muted">Dernière modification : le
									{{ article.updatedAt | date('d/m/Y à h:i:s')}}</small>
							{% else %}
								<small class="text-muted">Date de création : le
									{{ article.createdAt | date('d/m/Y à h:i:s')}}
								</small>
							{% endif %}
						</div>
						<div
							class="card-footer justify-content-center d-flex">
							{# <p>{{ article.updatedAt ? article.updatedAt | date('d/m/Y h:i:s')}}</p> #}
							<a class="btn btn-primary btn-sm" href="{{ path('article_alone', {id:article.id}) }}">Voir</a>
							<a class="btn btn-warning btn-sm" href="{{ path('article_edit', {id:article.id}) }}">Editer</a>
							<a class="btn btn-danger btn-sm" href="{{ path('article_delete', {id:article.id}) }}">Supprimer</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
